# Production and development env files follow the same pattern
# The only change is the URL.
# You need create the .env.development.local and .env.production.local
# Then set export the API url filling the correct API URL for both environments.

# URL FOR DEV ENV
SOCIAL_APP_API_URL=http://localhost:5000

# URL FOR PROD ENV
SOCIAL_APP_API_URL=https://name-of-my-app.herokuapp.com/
