body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #55aa55;
}

.navbar-brand {
  font-weight: 700;
}

.navbar {
  margin-bottom: 30px;
}

thead {
  background-color: #004400;
  color: white;
}

td {
  font-weight: 700;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #b2e6b2;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #116611;
  color: white;
}

.table-hover tbody tr:hover button {
  background-color: white;
  color: #004400;
}

.btn-danger {
  color: white;
  background-color: #004400;
  border: #004400;
  font-weight: 700;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  color: #004400 !important;
  background-color: white !important;
  border: white !important;
  box-shadow: none !important;
}

i {
  cursor: pointer;
}
