body {
  margin: 0;
  padding: 20px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #55aa55;
}

.navbar-brand {
  font-weight: 700;
}

.navbar {
  margin-bottom: 30px;
}

thead {
  background-color: #004400;
  color: white;
}

td {
  font-weight: 400;
}

td > a {
  color: #004400;
  font-weight: 700;
}

td > a:hover {
  color: white;
}

div > ul.list-group > li {
  background-color: white !important;
  color: #004400 !important;
  border-color: #ccc;
  font-weight: 700;
}

div > ul.list-group > li.active {
  background-color: #004400 !important;
  color: white !important;
  border: none;
  font-weight: 700;
}

div > ul.list-group > li:hover {
  color: #004400 !important;
  background-color: #ccc !important;
  border-color: #ccc !important;
  font-weight: 700;
}

input::placeholder {
  color: #004400 !important;
}

input {
  color: #004400 !important;
  font-weight: 700 !important;
}

input:focus {
  border-color: #004400 !important;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #b2e6b2;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #116611;
  color: white;
}

.table-hover tbody tr:hover button {
  background-color: white;
  color: #004400;
}

.btn-primary {
  color: white;
  background-color: #004400;
  border: #004400;
  font-weight: 700;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #004400 !important;
  background-color: #55aa55 !important;
  border: white !important;
  box-shadow: none !important;
}

i {
  cursor: pointer;
}
